@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
:root{
    --blue : #5f9ef7;
    --orange : #ff721b;
    --white : #fff7ea;
}
html{
font-family: 'Inter', sans-serif;
}
body{
    display:flex;
    justify-content: center;
}
.header_bar{
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 20%;
    margin-top: 20px;
}
.header_bar img{
    width: 50px;
    border-radius: 10px;
}
.header_bar button{
    background-color: var(--orange);
    color: #ffffff;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 7px;
    font-weight: 600;
}

.header_bar button:hover{
    opacity: 0.8;
}
.header_info{
    background-color: var(--white);
    margin: 100px 20% 0px;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px
}
@media screen and (max-width:600px){
    .header_info{
        margin: 50px 20px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.header_info_para{
    flex:2;
}

.header_info_para h1{
    font-size: 60px;
    font-weight: 600;
    color: var(--blue);
    text-shadow: var(--blue) 1px 0 5px;
}

.header_info_para h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    color:var(--orange);
    
}

.header_info_para p{
    margin-bottom:10px ;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}
.header_info_avatar{
    width: 300px;
}
.header_info_avatar div{
    background-color: #ffffff;
    border-radius: 100%;
    box-shadow: 0px 3px 10px #ffffff;

}
.header_info_avatar img{
    border-radius: 100%;
}

.addCard{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.addCard:hover{
    opacity: 0.8;
}
.addCard button{
    background-color: var(--orange);
    color: #ffffff;
    min-width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 7px;
    font-weight: 400;
    padding: 0 20px;
    font-weight: 600;
}

.comments_card{
    margin: 100px 20%;
    height: 300px;
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.comments_card button{
    width: 200px;
    height: 100%;
    background-color: var(--white);
    border-radius: 20px;
}

.comment_card{
    width: 200px;
    height: 20%;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.comment_card:hover{
    background-color: var(--orange);
    cursor: pointer;
    box-shadow: 0px 5px 10px var(--orange);
    transform: translateY(-10px);
    height: 100%;
    padding: 20px;
}
.comment_card h1{
    font-size: 20px;
    margin-top: 20px;
    text-shadow: #5f9ef7 1px 0 1px;
    font-weight: 600;
    color: var(--blue);
    text-transform:  uppercase;

}
.comment_card p{
    font-size: 10px;
    opacity: 0;
}
.comment_card:hover h1, 
.comment_card:hover p{
    
    opacity: 1;
    text-shadow: none !important;
    color: var(--white) !important;
}

.popup_header {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    min-height: 300px;
    height: auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 50px;
    gap: 30px;
    box-shadow: #000000 0px 0px 1111vw;
}
.popup_header > div{
    display: flex; 
    justify-content: 
    center; gap: 20px;
}
.popup_title {
    border: none;
    width: 200px;
    min-height: 50px;
    border-radius: 10px;
    padding-left:10px;
    background-color: white;
    color: var(--blue);
}


.popup_message {
    border: none;
    width: 200px;
    min-height: 150px;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    color: var(--orange)
}
.popup_btn{
    width: 50px;
    height: 30px;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 3px;
    text-align: center;
    
}